@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "tailwindcss";

.font-footer {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.esab{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
}

.pi1 {
    grid-column: span 3 / span 3;
    grid-row: span 2 / span 2;
    grid-row-start: 4;
}

.pi2 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 4;
}

.bkclr{
    background-color: #0b1727 !important;
}
.bkclr canvas {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 0 !important;
  pointer-events: none !important;
}

.hero-text {
  position: absolute !important;
  top: 18%;
  left: 12%;
  z-index: 5 !important;
  color: white;
}

